<section class=" foot text-white ">
  <div class=" container p-5">
    <div class=" row mt-5">
      <div class="info text-white  col-md-4">
        <h6 class=" font text-center mb-5">LOCATION</h6>
        <p class="text-center ">
        2215 John Daniel Drive<br>
        Clark, MO 65243
      </p>
      </div>

      <div class="info text-white  col-md-4 ">
        <h6 class=" font text-center mb-4">AROUND THE WEB </h6>
        <i class="icon fab fa-facebook mr-4"></i>
        <i class="icon fab fa-instagram mr-4"></i>
        <i class="icon fab fa-twitter mr-4"></i>
        <i class="icon fab fa-linkedin "></i>
      </div>

      <div class="info text-white col-md-4">
        <h6 class=" font text-center mb-5">ABOUT FREELANCER</h6>
        <p class="text-center">Freelance is a free to use, MIT<br> licensed Bootstrap theme created by .</p>


      </div>

    </div>
  </div>
</section>

<section class="foot-social">
  <div class="link-social container p-2">

    <p class=" text-white text-center  m-auto">Copyright © Your Website 2021 <a href="#home" class="h">Angora </a></p>
  </div>
</section>
