<section class="about-bg pt-5 ">
  <div class=" container">
    <div class=" container">
      <h2 class="text-center about-text">ABOUT</h2>
      <h2 class="h-after  text-center mt-2"><i class="fas fa-star icon"></i></h2>

      <div class="row ">
        <div class="col-md-6">
          <p class="text-white pl-5 pr-0 pragraph-style ">Freelancer is a free bootstrap theme<br> created by Start
            Bootstrap. The <br>download includes the complete <br>source files including HTML, CSS, and <br>JavaScript
            as well as optional SASS <br>stylesheets for easy customization.</p>
        </div>

        <div class="col-md-6">
          <p class="text-white ml-5 pl-5 pragraph-style ">
            You can create your own custom<br>
            avatar for the masthead, change the<br>
            icon in the dividers, and add your<br>
            email address to the contact form to<br>
            make it fully functional!<br>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
