<section class="about-bg pt-5 ">
    <div class=" container">
      <h2 class="text-center about-text">CONTACT ME</h2>
      <h2 class="h-after  text-center mt-2"><i class="fas fa-star icon"></i></h2>
    </div>
    <div class="container">
      <form class=" mt-5  ">
        <input type="text" name="username" value="" placeholder=" your Name" autocomplete="off">
        <input type="email" name="mail" autocomplete="off" placeholder=" your Email" multiple required>
        <textarea data-error="Please,leave us a message." required="required"
          placeholder="Enter Message "></textarea>
        <div class="send-message  d-flex align-items-center justify-content-center mt-2">
          <input class="btn-info w-25 btn my-3  btn-info" type="submit" value="send Message">
        </div>
      </form>
    </div>
</section>
