
<div class="portfolio">
    <div class="container text-center">
        <div class="section-title">
            <h2 class="text-center about-text mt-5">PORTFOLIO</h2>
            <h2 class="h-after  text-center mt-2"><i class="fas fa-star icon"></i></h2>
        </div>
        <div class="row mt-5">
            <div *ngFor='let project of projects' class="col-lg-4 col-sm-6">
                <div class="portfolio-box p-4 mb-3" (click)='getProjectInfo(project.id)' data-toggle="modal"
                    data-target="#exampleModal">
                    <div class="portfolio-img mx-auto">
                        <img [src]="project.imgSrc" alt="portfolio img" class="w-100 h-100">
                    </div>
                    <i class="fa fa-plus"></i>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-center" id="exampleModalLabel">{{this.projectInfo.name}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                    <img [src]="this.projectInfo.imgSrc" alt="portfolio img" class="w-100 h-100">
                    <p class="mt-4 text-center">{{this.projectInfo.desc}}</p>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>


</div>
